# === FICHIERS TEMPORAIRES ANSIBLE ===
*.retry
*.log

# === CLÉS SSH ===
*.pem
*.pub
*.key
id_*
deploy_key
deploy_key.pub

# === PYTHON / CACHE ===
*.pyc
__pycache__/

# === ÉDITEURS ===
*.swp
*.bak
.DS_Store
.idea/

# === VAGRANT ===
.vagrant/

# === ROLES DÉPLOYÉS PAR ANSIBLE GALAXY ===
roles/*/
!roles/web/
!roles/firewall/
!roles/user/

# === VARS SENSIBLES ===
group_vars/*_vault.yml
